.sellingPrice--sellingPriceValue {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: medium;
    color: #2d8640;
    margin-bottom: 1em;
}

.sellingPriceValue--sellingPriceValueProduct {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-weight: bold;
    font-size: 25px;
    color: #2d8640;
}

.sellingPrice--sellingPriceWithTax {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: medium;
    color: #304591;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.sellingPrice--taxPercentage {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2d8640;
    color: white;
    padding: 0.2em 0;
    border-radius: 3rem;
    text-align: center;
    font-weight: medium;
    margin-bottom: 1em;
}

.sellingPrice--taxPercentageProduct {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2d8640;
    color: white;
    padding: 0.2em 0;
    border-radius: 3rem;
    text-align: center;
    font-weight: medium;
}

.sellingPrice--sellingPriceWithTaxProduct {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    color: #304591;
}