.cartIcon--minicart {
    color: white;
}

.label {
    color: white;
}

:global(.vtex-minicart-2-x-container) {
    padding-right: 1em;
    padding-left: 1em;
}

:global(.vtex-minicart-2-x-contentFooter) :global(.vtex-button) {
    width: 100%;
    min-height: 2.5rem;
    background-color: #236192;
    color: white;
    border: none;
}

:global(.vtex-minicart-2-x-contentFooter) :global(.vtex-button):hover {
    width: 100%;
    min-height: 2.5rem;
    background-color: #28724f;
    border: none;
}

:global(.vtex-minicart-2-x-container):global(.vtex-button),
:global(.vtex-minicart-2-x-container) :global(.vtex-button):hover,
:global(.vtex-minicart-2-x-container) :global(.vtex-button):focus,
:global(.vtex-minicart-2-x-container) :global(.vtex-button):active {
    background-color: #236192;
    color: white;
    border-style: solid;
    border-color: #236192;
}

.minicartIconContainer {
    color: white;
}

.contentFooter {
    justify-content: center;
    align-items: center;
}


/*Nuevo*/

.minicartContainer :global(.vtex-button):active {
    background-color: #236192;
    color: white;
    border-style: solid;
    border-color: #236192;
}

.minicartCheckoutButton :global(.vtex-button) {
    background-color: #236192;
    color: white;
    border-style: solid;
    border-color: #236192;
}

.minicartCheckoutButton :global(.vtex-button):hover,
.minicartCheckoutButton :global(.vtex-button):active {
    background-color: #28724f;
    color: white;
    border-style: solid;
    border-color: #28724f;
}