:global(.vtex-category-menu-2-x-departmentLink) {
    color: #236192;
    font-weight: bolder;
}

:global(.vtex-category-menu-2-x-itemContainer) {
    max-height: 25.875rem;
}

:global(.vtex-category-menu-2-x-firstLevelLink) {
    color: #28724f;
    font-weight: bold;
}