.styledLink--branduri {
    color: #2d8640;
    font-weight: bolder;
}

.styledLink--branduri:hover {
    text-decoration: underline #236192;
}

.styledLinkContent--menu-footer {
    color: #236192;
}

.styledLinkContent--menu-footer:hover {
    color: #2d8640;
    text-decoration: underline #2d8640;
}