.flexRow--menu-row {
    margin-left: 50px;
}

.flexCol--links-uri {
    height: 20%;
}

.flexRow--deals {
    background-color: #0e368a;
    padding: 1em 10em;
}

.imageElement {
    color: red;
}

.flexCol--dealspromo {
    align-items: center;
}

.flexColChild--dealspromo {
    height: 50%;
}

.flexRow--banneres {
    padding-bottom: 2em;
    background-color: #0e368a;
}

.flexCol--product-details {
    padding: 5em;
    border-radius: 10px;
    background-color: #ced8ec;
    margin-right: 2em;
}

.flexRowContent--banner-main-1,
.flexRowContent--banner-main-2 {
    padding-left: 2em;
    padding-right: 2em;
}

.flexRowContent--banner-main-2 {
    margin-top: none;
}