.paragraph--deals {
    color: white;
}

.wrapper--categories {
    color: #b3253b;
    font-weight: bolder;
}

.wrapper--depre-noi {
    margin: 0 2em;
}

.container--social {
    justify-content: center;
}

.paragraph--branduri-text {
    color: #0e368a;
    margin-bottom: 0;
}