.infoCardContainer--vintage {
    background-color: #EDCFD1;
    margin-bottom: 2px;
}

.infoCardContainer--promo {
    height: 300px;
}

.infoCardCallActionContainer--promo :global(.vtex-button) {
    color: white;
    background-color: #0e368a;
    border: transparent;
    position: relative;
    top: 7em;
    left: 5em;
    width: 20em;
}

.infoCardCallActionContainer--promo :global(.vtex-button):hover {
    color: black;
    background-color: #2567ea;
    border: transparent;
}