.paragraph--deals {
    color: white;
}

.wrapper--categories {
    color: #2d8640;
    font-weight: bolder;
}

.wrapper--depre-noi {
    margin: 0 2em;
}

.container--social {
    justify-content: center;
}

.paragraph--branduri-text {
    color: #304591;
    margin-bottom: 0;
}

.heading--title {
    color: #304591;
}

.strong--about {
    color: #2d8640;
}