.sellingPrice--sellingPriceValue {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: medium;
    color: #28724f;
    margin-bottom: 1em;
}

.sellingPriceValue--sellingPriceValueProduct {
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
    color: #28724f;
}

.sellingPrice--sellingPriceWithTax {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: small;
    color: #236192;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.sellingPrice--taxPercentage {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: small;
    background-color: rgb(185, 151, 91);
    font-weight: bold;
    color: black;
    padding: 0.2em 0;
    border-radius: 3rem;
    text-align: center;
    font-weight: medium;
    margin-bottom: 1em;
}

.sellingPrice--taxPercentageProduct {
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(185, 151, 91);
    color: black;
    padding: 0.2em 0;
    border-radius: 3rem;
    text-align: center;
    font-weight: bold;
}

.sellingPrice--sellingPriceWithTaxProduct {
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #236192;
}