.styledLink--branduri {
    color: #28724f;
    font-weight: bolder;
}

.styledLink--branduri:hover {
    text-decoration: underline #236192;
}

.styledLinkContent--menu-footer {
    color: #236192;
}

.styledLinkContent--menu-footer:hover {
    color: #28724f;
    text-decoration: underline #28724f;
}