.infoCardHeadline--banner-5,
.infoCardHeadline--banner-6,
.infoCardHeadline--banner-1,
.infoCardHeadline--banner-2,
.infoCardHeadline--banner-3,
.infoCardHeadline--banner-4 {
    color: black;
}

@media only screen and (max-width: 640px) {
    .infoCardHeadline--banner-1,
    .infoCardHeadline--banner-2,
    .infoCardHeadline--banner-3,
    .infoCardHeadline--banner-4,
    .infoCardHeadline--banner-5,
    .infoCardHeadline--banner-6 {
        font-size: large;
    }
    .autoCompleteOuterContainer {
        width: 80%;
    }
}


/* style product */

.productImagesContainer--quickview .carouselContainer {
    justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
    object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
    display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
}

.productNameContainer {
    color: #3f3f40;
    font-weight: bold;
    font-size: 30px;
}

.imageElement--dealspromo {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

:global(.vtex-store-components-3-x-logoLink) {
    margin-top: 1em;
}

.newsletter {
    background-color: #2b5cc5;
}

.infoCardTextContainer--promocional {
    width: 50%;
    margin-bottom: 4em;
}

.infoCardCallActionContainer--promocional :global(.vtex-button) {
    background: #9eb3df;
    margin-bottom: 4em;
    border: none;
}

.infoCardCallActionContainer--promocional :global(.vtex-button):hover {
    background: #9eb3df;
    border: none;
}

.newsletter .label {
    color: white;
}