.formSubmitButton :global(.vtex-button) {
    background-color: #236192;
    color: white;
    border-style: solid;
    border-color: #236192;
    margin-top: 2em;
}

.formSubmitButton :global(.vtex-button):hover {
    background-color: #2d8640;
    color: white;
    border-style: solid;
    border-color: #2d8640;
    margin-top: 2em;
}