.paragraph--deals {
    color: white;
}

.wrapper--categories {
    color: #28724f;
    font-weight: bolder;
}

.wrapper--depre-noi {
    margin: 0 2em;
}

.container--social {
    justify-content: center;
}

.paragraph--branduri-text {
    color: #236192;
    margin-bottom: 0;
}

.heading--title {
    color: #236192;
}

.strong--about {
    color: #28724f;
}