.profileIcon--login-menu,
.label {
    color: white;
}

:global(.vtex-login-2-x-button) :global(.vtex-button) {
    width: 100%;
    min-height: 2.5rem;
    background: #2d8640;
    color: white;
    border: none;
}

:global(.vtex-login-2-x-button) :global(.vtex-button):hover {
    width: 100%;
    min-height: 2.5rem;
    background: #304591;
    color: white;
    border: none;
}

:global(.vtex-login-2-x-container) :global(.vtex-button),
:global(.vtex-login-2-x-container) :global(.vtex-button):hover,
:global(.vtex-login-2-x-container) :global(.vtex-button):focus,
:global(.vtex-login-2-x-container) :global(.vtex-button):active {
    background-color: #304591;
    color: white;
    border-style: solid;
    border-color: #304591;
}