:global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #236192;
}

.buttonShowMore :global(.vtex-button) {
    color: #236192;
    background-color: white;
    border: 3px solid #236192;
}