.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
    border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
    opacity: 1;
}

@media screen and (max-width: 40em) {
    .container :global(.vtex-modal-layout-0-x-triggerContainer) {
        display: none;
    }
}

.nameContainer {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.brandName {
    font-weight: 600;
    font-size: 18px;
    color: #236192;
}

.container {
    text-align: start;
}

.imageContainer {
    text-align: center;
}

.image {
    border-radius: 0.25rem;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    color: #2d8640;
    background: #ffffff;
    border: 3px solid #236192;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) ::after,
:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) ::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    transition: 0.5s;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) ::after {
    top: 0;
    left: 0;
    border-top: 3px solid transparent;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) ::before {
    bottom: 0;
    right: 0;
    border-bottom: 3px solid transparent;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) :hover {
    color: #2d8640;
}

:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) :hover::after,
:global(.vtex-product-summary-2-x-clearLink) :global(.vtex-button) :hover::before {
    width: 100%;
    height: 100%;
    border-color: #2d8640;
}