:global(.vtex-category-menu-2-x-departmentLink) {
    color: #2d8640;
    font-weight: bolder;
}

:global(.vtex-category-menu-2-x-itemContainer) {
    max-height: 25.875rem;
}

:global(.vtex-category-menu-2-x-firstLevelLink) {
    color: #304591;
    font-weight: bold;
}