:global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #28724f;
}

.buttonShowMore :global(.vtex-button) {
    color: #28724f;
    background-color: white;
    border: 3px solid #28724f;
}