:global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #304591;
}

.buttonShowMore :global(.vtex-button) {
    color: #304591;
    background-color: white;
    border: 3px solid #304591;
}