.infoCardHeadline--banner-5,
.infoCardHeadline--banner-6,
.infoCardHeadline--banner-1,
.infoCardHeadline--banner-2,
.infoCardHeadline--banner-3,
.infoCardHeadline--banner-4,
.infoCardHeadline--banner-7 {
    color: black;
}

@media only screen and (max-width: 640px) {
    .infoCardHeadline--banner-1,
    .infoCardHeadline--banner-2,
    .infoCardHeadline--banner-3,
    .infoCardHeadline--banner-4,
    .infoCardHeadline--banner-5,
    .infoCardHeadline--banner-6,
    .infoCardHeadline--banner-7 {
        font-size: large;
    }
    .autoCompleteOuterContainer {
        width: 80%;
    }
}


/* style product */

.productImagesContainer--quickview .carouselContainer {
    justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
    object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
    display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
}

.productNameContainer {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.productNameContainer--product-name {
    text-align: center;
}

.price_sellingPrice--product-price {
    color: #2d8640;
}

.price_sellingPriceContainer--product-price {
    text-align: center;
}

.imageElement--dealspromo {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

:global(.vtex-store-components-3-x-logoLink) {
    margin-top: 0.5em;
}

.logoImage--logo-menu-mobile {
    margin-top: 0.8em;
}

.newsletter {
    background-color: #304591;
}

.infoCardTextContainer--promocional {
    width: 50%;
    margin-bottom: 4em;
}

.infoCardCallActionContainer--promocional :global(.vtex-button) {
    background: #2d8640;
    margin-bottom: 4em;
    border: none;
}

.infoCardCallActionContainer--promocional :global(.vtex-button):hover {
    background: #677ed1;
    border: none;
}

.infoCardHeadline--banner-1,
.infoCardHeadline--banner-2,
.infoCardHeadline--banner-7 {
    color: #304591;
}

.newsletter .label {
    color: black;
}

.newsletter :global(.vtex-button) {
    background-color: #4ea160;
    border: none;
}

.newsletter :global(.vtex-button):hover {
    background-color: #2d8640;
    border: none;
}

.shareButtons {
    justify-content: center;
}

.shareLabel {
    text-align: center;
    color: black;
    font-weight: bolder;
}

.newsletter .label {
    color: white;
}

.sellingPrice {
    color: black;
    font-weight: bold;
}


/* buttons infocard */

.infoCardCallActionContainer--banner-2 :global(.vtex-button),
.infoCardCallActionContainer--banner-1 :global(.vtex-button),
.infoCardCallActionContainer--banner-7 :global(.vtex-button) {
    background-color: #2d8640;
    border: none;
}

.infoCardCallActionContainer--banner-2 :global(.vtex-button):hover,
.infoCardCallActionContainer--banner-1 :global(.vtex-button):hover,
.infoCardCallActionContainer--banner-7 :global(.vtex-button):hover {
    background-color: #304591;
    border: none;
}